<!-- Experience-->
 <div>
    <section>
        <!-- Page Content-->
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">CodeSquad Teaching Fellow, Full Stack Web Development</h3>
                        <div class="subheading mb-3 text-primary-pink">2022 to Present</div>
                        <p><i>Instruction, Compassion, Satisfaction, Educational Enrichment</i></p>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Instructed students on developing and maintaining robust, scalable, and high-performance web applications and working within Agile and Scrum environments to ensure code quality and implement user-centric solutions.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Orchestrated the development of backend curriculum and developed expansive technical specifications and architecture documents for React and Node applications, organizing cohort orientation and improving student comprehension by 50%.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Implemented RESTful APIs and integrated third-party services, improving system interoperability and expanding application functionality to meet diverse user needs.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Directed the remote mentorship of 5 mentees from a cohort of 20 students via Zoom and Slack, employing comprehensive code reviews, troubleshooting, and testing assistance to facilitate learning.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Monitored student progress and delivered regular reports on academic achievements while cultivating a supportive and collaborative learning environment.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">TechFleet Web Development Lead </h3>
                        <div class="subheading mb-3 text-primary-pink">2024</div>
                        <p><i>Client Relations, Leadership Development, Remote Collaboration</i></p>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Collaborated with a team of 5 engineers to contribute to an open-source project while updating documentation for the handoff of the K-Block project as well as the tech stack using React, Next.js, and Python.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Implemented version control systems, such as Git, to effectively manage and track code changes, ensuring streamlined collaboration and efficient project development.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Facilitated weekly client demos and fostered collaboration with stakeholders during Scrum meetings to complete a complex infrastructure project within an intensive eight-week sprint while ensuring client satisfaction.
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">TechFleet Web Development Apprentice </h3>
                        <div class="subheading mb-3 text-primary-pink">2022</div>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Crafted and enhanced authentication, styling, and functionality for the Earth Hero web application using React, Gatsby.js, and Firebase.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
      
    </section>
 </div>