<!-- // DO NOT TOUCH -->
<footer class = "link-styling-footer bold"> 
    <section> 
        <div > 
            <div>
                <h2 class = "mini-container">Developer Contact Info</h2>
                <p class ="center-text-paragraph">A Product of CodeSquad</p>
                <ul class="center-text-line-items link-styling">
                    <a href="https://codesquad.org" target="'_blank"><img class="photo-image" src="/img/CodeSquad-logo-b.png" alt="CodeSquad.org Logo"></a>
                </ul>
            </div>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/kit-amreik/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/Kitamreik"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
                <br> 
            </div>
            <br>
            <div class="center-text-paragraph">
                Copyright &copy; Kit Fenrir Amreik, 2022-2024. All rights reserved.
            </div>
            <br>
            <!-- button placement -->
            <div>
                <button onclick="topFunction()" id="scroll-button" class= "scroll-button bs-info">
                    Back to Top
                    <i class="fa-regular fa-circle-up"></i>
                </button>
            </div>
        </div>
    </section>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>