<!-- // DO NOT TOUCH -->
<footer class = "link-styling-footer bold gradient"> 
    <section> 
    <h2 class = "mini-container">
        <p class="bs-cyan">Developer</p>
        <p class="acc-white">Contact</p>
        <p class="bs-pink">Info</p>
    </h2>
    <div class="mini-container index-button link-styling">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block "><a href="https://drive.google.com/file/d/1-UR84Fg72LJ5hizS8TMM2J8VRDfnbj63/view?usp=sharing">Resume!</a><br><i class="fa-regular fa-circle-right"></i></button>
        <span class="social-icons ">
            <a class="social-icon" href="https://www.linkedin.com/in/kit-amreik/"><i class="fab fa-linkedin-in "></i></a>
            <a class="social-icon" href="https://github.com/Kitamreik"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
            <br> 
        </span>
    </div>
    <div class="center-text-paragraph">
    Copyright &copy; Kit Fenrir Amreik, 2022-2024. All rights reserved.
    </div>
    <br>
    <!-- button placement -->
    <div>
    <button type="button" class="btn btn-danger" onclick="topFunction()" id="scroll-button" class= "scroll-button footer-button">
    Back to Top
    <i class="fa-regular fa-circle-up"></i>
    </button>
    </div>

    </section>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
