<header>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bs-cyan" id="sideNav">
            <section class="navbar-brand js-scroll-trigger">
                <span class="d-block d-lg-none link-styling-head"><a href="/">Kit Fenrir Amreik (they/she)</a></span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/img/profile.png" alt="A picture of Kit Fenrir Amreik, a nonbinary trans woman with a flower crown, purple and blue hair standing outside with a blue blazer and dress on."></img></span>
            </section>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon navbar-toggler-highlight"></span></button>
            <div class="collapse navbar-collapse link-styling mobile-container" id="navbarResponsive">
                <ul class="navbar-nav link-styling">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/exp">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/project">Full Stack Dev</a></li>
                    <!-- create route, controller and page -->
                    <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/cyber">CyberSecurity</a></li> -->
                     <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/aws-vegas">AWS re:Invent 2024</a></li> -->
                    <!-- create route, controller and page -->
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/headstarter">AI/ML</a></li>
                    <button class="nav-button">
                        <a href="/" role="button" type="submit"> Back to Home</a>
                    </button>
                </ul>
            </div>
        </nav>
    </div>
</header>