<header>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bs-cyan" id="sideNav">
            <section class="navbar-brand js-scroll-trigger">
                <span class="d-block d-lg-none">Kit Fenrir Amreik (they/she)</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/img/profile.png" alt="Me, in all my beauty."></img></span>
            </section>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse link-styling mobile-container" id="navbarResponsive">
                <ul class="navbar-nav link-styling">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/exp">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/skillz">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/portfolio/project">Projects</a></li>
                    <button class="nav-button">
                        <a href="/" role="button" type="submit"> Back to Home</a>
                    </button>
                </ul>
            </div>
        </nav>
    </div>
</header>