<header>
    <div>
        <nav>
            <ul>
                <button>
                    <a href="/" role="button" type="submit">Home</a>
                </button>
                <button>
                    <a href="/portfolio/about" role="button" type="submit">About</a>
                </button>
                <button> <a href="/portfolio/contact" role="button" type="submit">Contact</a></button>
                <button> <a href="/portfolio/project" role="button" type="submit">Projects</a></button>
            </ul>
        </nav>
        <div class = "link-styling mobile-container">
            <button class = "hamburger">
                <a href="javascript:void(0);" class="menu" for="open-sesame">
                    <i class="fa fa-bars"></i>
                </a>
            </button> 
        </div>
    </div>
</header>