<!-- Page Content-->
<div>
     <!-- Skills-->
     <section>
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Technologies</div>
            <span class="skill-column row">
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        HTML-5
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        GitHub
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Command Line Interface
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        CSS-3
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                       Javascript
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Node.js
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Express with Mock API calls
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Express with EJS templating
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        MongoDB Compass & Atlas
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Mongoose
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        React Vite
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Bootstrap & Tailwind CSS
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Python
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        SQL
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Convex
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        OpenAI
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Prompt Engineering
                    </li>
                </ul>
            </span>
            <div class="subheading mb-3">Hard Skills</div>
            <span class="skill-column row">
                <ul class="fa-ul mb-0">
                   <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Developer Relations
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Technical Support
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Code Reviews
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Project Management
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Curriculum Development
                    </li>
                </ul>
                <br>
            <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Version Control Systems
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Mobile-First, Responsive Design
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Browser Testing & Debugging
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Functional Teams
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Agile Development & Scrum
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Compiling Documentation
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Testing with Postman
                    </li>
                </ul>
            </span>
        </div>
    </section>
</div>