<%- include('../partials/head') %> 
    <title>23-24 Projects Page!</title>
<%- include('../partials/nav') %> 

<div class="container-fluid p-0 gradient">
    <section class="resume-section" id="projects">
        <div class="resume-section-content ">
            <div class="bs-pink">
                <i class="fa-solid fa-web-awesome edu-icons"></i>
                <h2 class="mb-0">2023-2024 PROJECTS</h1>
            </div>
            <%- include('../partials/updated-proj-loop') %>
        </div>
    </section>
    <br>
    <br>
</div>
<hr class="m-0" />
<%- include('../partials/footer') %> 