<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <header>
        <div>
            <nav>
                <ul>
                </ul>
            </nav>
        </div>
    </header>
</head>
<body>
    <!--  For example, a strong "About Me" section might include a professional headshot, a short bio, values and professional strengths, and relevant personal experiences. "About Me" sections should help you create your brand, not distract from your professional talents.Instead, consider other characteristics such as your professional narrative, what makes you unique compared to other developers in your field, how you’ve managed (or rescued) projects, and how you’ve personally fostered success in every initiative. In short, don’t miss an opportunity to self-promote yourself. -->
    <div>
        <h1>About Me!</h1>
        or
        <h1>Kit Fenrir Amreik</h1>
        <p>Paragraph about an amazing TF...</p>
        <li>Tech skills...</li>
    </div>
</body>
</html>