<%- include('../partials/head') %> 
    <title>Contact Me</title>
<%- include('../partials/nav') %> 
<div>
    <section>
        <h1>Contact Me</h1>
    </section>
    <section>
        <p>I look forward to connecting with you further! Please fill your contact information below and I will get back to you as soon as possible.</p>
    </section>
    <!-- Much like a company website page, you’ll want to include as many contact options as possible. If you have a professional phone number, use it. However, if you feel uncomfortable posting your cell phone number online, you can easily replace this with your email address, LinkedIn page, or any other links to professional social media profiles you’ve established. -->
</div>
<%- include('../partials/footer') %> 