<%- include('../partials/head') -%> 
    <title>Education Page</title>
<%- include('../partials/nav') -%> 

<!-- Page Content-->
<div class="container-fluid p-0">
     <!-- Education-->
     <section class="resume-section" id="education">
        <div class="resume-section-content">
            <div class="acc-blue">
                <i class="fa-solid fa-web-awesome edu-icons"></i>
                <h2 class="mb-5">Education</h2>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <p class="link-styling">
                    I have deepened my concentration in Cybersecurity by completing a CodeAcademy course, two courses at McMurray University <b><u><a href="https://www.linkedin.com/in/kit-amreik/details/featured/1635499364762/single-media-viewer/?profileId=ACoAABOl1r8BcBb2Rc8O_n5dkMXDLX1t5JYjTkg">here</a></u></b> and <b><u><a href="https://www.linkedin.com/in/kit-amreik/details/featured/1635515895235/single-media-viewer/?profileId=ACoAABOl1r8BcBb2Rc8O_n5dkMXDLX1t5JYjTkg">here</a></u></b>, the Google Coursera Cybersecurity program, and the ISC2 course for 1M Cybersecurity professionals. Moreover, my career goals involve expanding my skills in Back End Development, Cybersecurity, and mastering the MERN stack, React, Python, and SQL to prepare for an entry-level role where I can apply my knowledge in problem-solving and team collaboration. 
                </p>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="bs-cyan">
                    <i class="fa-solid fa-web-awesome edu-icons"></i>
                </div>
                <div class="flex-grow-1">
                   <h3 class="mb-0">CodeSquad</h3>
                    <div class="subheading mb-3">Bootcamp Graduate
                   </div>
                    <div>Full-Stack Web Development Certification </div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary-pink">January 2022 - Present</span>            
                    <a href="http://codesquad.org/cohort2022.html"><i class="fa-solid fa-arrow-up-right-from-square text-primary-pink fa-beat-fade"></i> </a>                          
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="bs-cyan">
                    <i class="fa-solid fa-code edu-icons"></i>
                </div>
                <div class="flex-grow-1">
                    <h3 class="mb-0">CodeAcademy</h3>
                    <div class="subheading mb-3">Learn Python 3 Certification </div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary-pink">2022</span>
                   <a href="https://drive.google.com/file/d/1uBATWxdBbQuaxiNNMnHZgDtEy-W2yNxD/view?usp=sharing"> <i class="fa-solid fa-arrow-up-right-from-square text-primary-pink fa-beat-fade"></i></a>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="acc-white">
                    <i class="fa-solid fa-code edu-icons"></i>
                </div>
                <div class="flex-grow-1">
                    <h3 class="mb-0">ISC2</h3>
                    <div class="subheading mb-3">Cybersecurity Training Candidate</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary-pink">2024</span>
                 <a href="https://drive.google.com/file/d/1P8FwGeQVGPwZGHVBvlClM5NNWK4IvQnk/view?usp=sharing"> <i class="fa-solid fa-arrow-up-right-from-square text-primary-pink fa-beat-fade"></i></a>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="bs-pink">
                    <i class="fa-solid fa-code edu-icons"></i>
                </div>
                <div class="flex-grow-1">
                    <h3 class="mb-0">Coursera & CodeAcademy</h3>
                    <div class="subheading mb-3">Cybersecurity Certifications </div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary-pink">2022, 2024</span>
                   <a href="https://drive.google.com/file/d/17stfL50qnvF0qRZn30fbUvAYkyRReh2U/view?usp=sharing"> <i class="fa-solid fa-arrow-up-right-from-square text-primary-pink fa-beat-fade"></i></a>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="bs-pink">
                    <i class="fa-solid fa-web-awesome edu-icons"></i>
                </div>
                
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Massachusetts Boston</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>100 credits towards BS in Psychology with a Spanish minor</div>
                    <p>GPA: 3.1</p>
                    <ul>
                        <li>Served as Queer Student Center Coordinator to coordinate and execute the center’s events. Received the Queer Student Center Leadership Award.</li>
                        <li>Co-authored a “Gender Identity Policy Proposal” to call for trans-inclusive campus policies, such as gender-neutral signage, including trans and nonbinary students in dorm/roommate selection, and revising naming infrastructure to use preferred names, resulting in the adoption of new policies by UMass Boston.</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary-pink">2013-2018</span></div>
            </div>
        </div>
    </section>
</div>

<%- include('../partials/footer') -%> 