<%- include('../partials/head') -%> 
    <title>Education Page</title>
<%- include('../partials/nav') -%> 

<!-- Page Content-->
<div class="container-fluid p-0">
     <!-- Education-->
     <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">College of Pokemon</h3>
                    <div class="subheading mb-3">Bachelor of Arachnids</div>
                    <div>Spider Science - Web Development Track</div>
                    <p>GPA: 3.1</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2010</span></div>
            </div>
        </div>
    </section>
</div>
<hr class="m-0" />
<%- include('../partials/footer') -%> 