<%- include('../partials/head') -%> 
    <title>Education Page</title>
<%- include('../partials/nav') -%> 

<!-- Page Content-->
<div class="container-fluid p-0">
     <!-- Education-->
     <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <p>
                    I have deepened my concentration in Cybersecurity by completing a CodeAcademy course, two courses at McMurray University, the Google Coursera Cybersecurity program, and the ISC2 course for 1M Cybersecurity professionals. Moreover, my career goals involve expanding my skills in Back End Development, Cybersecurity, and mastering the MERN stack, React, Python, and SQL to prepare for an entry-level role where I can apply my knowledge in problem-solving and team collaboration. 
                </p>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">CodeSquad</h3>
                    <div class="subheading mb-3">Bootcamp Graduate</div>
                    <div>Full Stack Web Development Awardee</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary-pink">January - June 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Massachusetts Boston</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>100 credits towards BS in Psychology with a Spanish minor</div>
                    <p>GPA: 3.1</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary-pink">September 2013-May 2016</span></div>
            </div>
        </div>
    </section>
</div>

<%- include('../partials/footer') -%> 