<%- include('../partials/head') -%> 
    <title>Experience Page</title>
<%- include('../partials/nav') -%> 
<!-- Experience-->
<!-- Page Content-->
<div class="container-fluid p-0">
 <section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">CodeSquad Teaching Fellow</h3>
                <div class="subheading mb-3">CodeSquad</div>
                <p><i>Instruction, Compassion, Satisfaction, Educational Enrichment</i></p>
                <p>Instructed 20 students from marginalized communities in web development technologies such as HTML/CSS, JavaScript, Node.js, Express, EJS, Git, MongoDB, Mongoose, and React. Monitored progress and provided regular reports on academic achievements. Nurtured a supportive and collaborative learning environment.</p>
                <p>Guided and mentored 4 individuals remotely via Zoom and Slack. Conducted thorough code reviews, offered troubleshooting and testing assistance, and facilitated their professional growth. Encouraged curiosity, personal development, and team cohesion.</p>
                <p>Revised Back End curriculum to include JSON to send mimic API calls using an Express server, connected to a React application. </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary-pink">October 2022 to Present
            </span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">TechFleet Web Development Apprentice </h3>
                <div class="subheading mb-3">TechFleet/CodeSquad</div>
                <p><i>Client Relations, Leadership Development, Remote Collaboration</i></p>
                <p>Collaborated with development, design, and product management teams to build authentication, styling, and functionality for the Earth Hero web application using React, Gatsby.js, and Firebase within an eight-week sprint.</p>
                <p>Participated in weekly Agile methodology application/Scrum meetings and cross-functional team standups to ensure smooth progress and facilitate client demos at the end of each week.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary-pink">August 2022 to November 2022
            </span></div>
        </div>
    </div>
</section>
</div>
<hr class="m-0" />
<%- include('../partials/footer') -%> 