<%- include('../partials/head') -%> 
    <title>Experience Page</title>
<%- include('../partials/nav') -%> 
<!-- Experience-->
 <div>
    <section>
        <!-- Page Content-->
            <div class="resume-section-content">
                <div class="acc-white">
                    <i class="fa-solid fa-web-awesome edu-icons"></i>
                    <h2 class="mb-5">Current Experience & Previous Internships</h2>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">CodeSquad Teaching Fellow, Full Stack Web Development</h3>
                        <div class="subheading mb-3 text-primary-pink">2022 to Present</div>
                        <p><i>Instruction, Compassion, Satisfaction, Educational Enrichment</i></p>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Owning the development of backend curriculum for two consecutive years as well as React and Node applications.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Implemented graduate level Data Structures and Algorithms summer course, fostering student confidence and job readiness by 60%. 
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Implemented RESTful APIs and integrated third-party services, improving system interoperability and expanding application functionality to meet diverse user needs.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Directed the remote mentorship of 5 mentees from a cohort of 20 students via Zoom and Slack, employing comprehensive code reviews, troubleshooting, and testing assistance to facilitate learning.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Monitored student progress and delivered regular reports on academic achievements while cultivating a supportive and collaborative learning environment, enhancing cohort orientation to new concepts, improving student comprehension by 80%.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Headstarter AI Software Engineering Fellow</h3>
                        <div class="subheading mb-3 text-primary-pink"">2024</div>
                        <p><i>Personal and Professional Development, Remote Collaboration</i></p>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                By enacting upon their background within machine learning and engineering, they are able to create end-to-end, scalable and user-friendly web applications which deal with training and inference of deep learning models. 
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                For example, this can be exemplified via their AI projects, such as integration of RESTful APIs and the Groq API to deploy a SaaS product leveraging the Llama 3.1 LLM, enabling dynamic flashcard generation on-demand.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Furthermore, in just five weeks, they led the development of five AI projects, such as a Flashcard interface as well as a customer support chat bot utilizing modern frameworks such as React.js, Next.js, and Firebase, hosted on platforms like Vercel. Their work included designing comprehensive technical specifications and architecture documents, which streamlined team orientation and improved comprehension by 50%.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Expanding upon their interactions with cloud based-systems such as AWS refines their technical capabilities and has been successfully expressed via communications with a local organization in Colorado, that has had a need for an application that can be used within a network of schools within the state.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Engaged in Weekly Zoom meetings with engineers from Google, Y Combinator, Stanford, Amazon and venture-backed startups
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">TechFleet  Software Engineering Web Development Lead </h3>
                    <div class="subheading mb-3 text-primary-pink">2024</div>
                    <p><i>Client Relations, Leadership Development, Remote Collaboration</i></p>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Collaborated with a team of 5 engineers to contribute to an open-source project while updating documentation for the handoff of the K-Block project as well as the tech stack using React, Next.js, and Python.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Implemented version control systems, such as Git, to effectively manage and track code changes, ensuring streamlined collaboration and efficient project development.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Facilitated weekly client demos and fostered collaboration with stakeholders during Scrum meetings to complete a complex infrastructure project within an intensive eight-week sprint while ensuring client satisfaction.
                        </li>
                    </ul>
                </div>
                <br>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">TechFleet Software Engineering Web Development Apprentice </h3>
                        <div class="subheading mb-3 text-primary-pink">2022</div>
                        <p><i>Initial Developer Internship, Remote Collaboration</i></p>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Crafted and enhanced authentication, styling, and functionality for the Earth Hero web application using React, Gatsby.js, and Firebase.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>
 </div>
 <br>
 <%- include('../partials/footer') -%> 