<%- include('../partials/head') -%> 
    <title>Index Page</title>
<%- include('../partials/nav') -%> 

<!-- Page Content-->
<div class="container-fluid p-0 gradient">
     <!-- About-->
     <section class="resume-section" id="about">
        <div class="resume-section-content">
            <div class="contrast-blue">
                <i class="fa-solid fa-web-awesome edu-icons"></i>
                <h1 class="mb-0">
                    Kit Fenrir
                    <span class="text-primary-pink">Amreik</span>
                    (they/she)
                </h1>
            </div>
            <div class="subheading mb-5">
                Denver, CO ·
                <a href="mailto:kidamreik@gmail.com" class="text-primary-pink link-styling">kitdamreik@gmail.com</a>
            </div>
            <span>
                <p class="lead mb-5"> Kit (they/she) is a Full-Stack Web Developer with over ten years of experience of conflict resolution, activism and consulting, with a concentration in Global Transformative and Restorative Justice education throughout the pandemic. Their passion for teaching guided her to be able to uplift marginalized people to actualize their dreams, and break into tech. Through their experiences and soft skills, they are able to create ecosystems to resolve a plethora of issues. </p>
                <p class="lead mb-5">
                Additionally, they are eager and intentional regarding fostering community, team cohesion and achieving their KPIs in a manner that generates ease within their working environment and benefits the ecosystem at large. With their commitment to be adaptable, resilient and resourceful, they will be an asset to the company, driving projects with production-quality code and generating impactful solutions across departments.</p>
                <img class="photo-image-center" src="/img/kit.jpeg" alt="a picture of Kit with a flower crown and braids">
                <br>
                <p class="lead mb-5">Being a non-binary Black trans woman, where there only 3% of women employed in the tech sector that fall into this lived experience, I would like to attract other people of the global majority and assist them in succeeding and achieving their goals is the primary drive of developer advocacy and activism that I employ. Care is essential for a thriving and organically growing community and culture; additionally, commitment to communication and continuous improvement bolsters morale, connectivity, and growth.</p>
                <hr>
                <p>See updates from my most recent coding endeavor! <a href="/portfolio/headstarter">Read more about my journey.</a></p>
                <p>Looking for more information about me? Look no further! <a href="https://drive.google.com/file/d/1KL6r-QCz8vd9KS1BSb_tA0zww4TEJlgS/view?usp=sharing">Check out my resume!</a></p>
                <hr>
            </span>
           <span>
            <%- include('../partials/skills') %>
           </span>
    </div>
</section>
</div>
<hr class="m-0" />
<%- include('../partials/footer') -%> 
