<%- include('../partials/head') -%> 
    <title>Index Page</title>
<%- include('../partials/nav') -%> 

<!-- Page Content-->
<aside><i>this is version two, delete this line of code when done</i></aside>
<div class="container-fluid p-0">
     <!-- About-->
     <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Kit Fenrir
                <span class="text-primary-pink">Amreik</span>
            </h1>
            <div class="subheading mb-5">
                Denver, CO 80247 · (857) 261-7596 ·
                <a href="mailto:kidamreik@gmail.com" class="text-primary-pink link-styling">kitdamreik@gmail.com</a>
            </div>
            <span>
                <p class="lead mb-5"> Kit (they/she) is a Full-Stack Web Developer with over ten years of experience of conflict resolution, activism and consulting, with a concentration in Global Transformative and Restorative Justice education throughout the pandemic. Their passion for teaching guided her to CodeSquad as both a graduate and a teacher to be able to uplift marginalized people to actualize their dreams, and break into tech. They are known for their laser-sharp focus and unwavering commitment to efficiently address and resolve complex issues.</p>
                <img class="photo-image-center" src="/img/kit.jpeg" alt="a picture of Kit with a flower crown and braids">
                <br>
                <p class="lead mb-5">Being a non-binary Black trans woman, where there only 3% of women employed in the tech sector that fall into this lived experience, I would like to attract other people of the global majority and assist them in succeeding and achieving their goals is the primary drive of developer advocacy and activism that I employ. Care is essential for a thriving and organically growing community and culture; additionally, commitment to communication and continuous improvement bolsters morale, connectivity, and growth.</p>
            </span>
           <span>
            <%- include('../partials/skills.ejs') %>
           </span>
            <!-- add project and exp snippet here -->
    </div>
    <!--  For example, a strong "About Me" section might include a professional headshot, a short bio, values and professional strengths, and relevant personal experiences. "About Me" sections should help you create your brand, not distract from your professional talents.Instead, consider other characteristics such as your professional narrative, what makes you unique compared to other developers in your field, how you’ve managed (or rescued) projects, and how you’ve personally fostered success in every initiative. In short, don’t miss an opportunity to self-promote yourself. -->
    
</section>
</div>
<hr class="m-0" />
<%- include('../partials/footer') -%> 