<%- include('../partials/head') -%> 
    <title>Index Page</title>
<%- include('../partials/nav') -%> 

<div>
    <section>
        <h1>Welcome to my Portfolio!</h1>
    </section>
    <section>
        <p>Hello! Welcome to my portfolio page.</p>
    </section>
</div>
<%- include('../partials/footer') -%> 