<%- include('../partials/head') -%> 
    <title>Index Page</title>
<%- include('../partials/nav') -%> 

<!-- Page Content-->
<div class="container-fluid p-0">
     <!-- About-->
     <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Kit Fenrir
                <span class="text-primary-pink">Amreik</span>
            </h1>
            <div class="subheading mb-5">
                Aurora, CO 80247 · (857) 261-7596 ·
                <a href="mailto:kidamreik@email.com" class="text-primary-pink link-styling">kitdamreik@email.com</a>
            </div>
            <p class="lead mb-5"> Dedicated Full Stack Developer with a background in Transformative Justice Education and Conflict Resolution coupled with a concentration in Cybersecurity and Back-End Development, seeking an entry-level role. Focused and engaged in Educational Enrichment and Developer Relations. </p>
            <img class="photo-image-center" src="/img/kit.jpeg" alt="a picture of Kit with a flower crown and braids">
            <br>
            <p class="lead mb-5">Known for laser-sharp focus and unwavering commitment to efficiently address and resolve complex issues. Eager to contribute to fostering community and team cohesion.  Organized and methodical worker that plans, executes and achieves goals and KPIs in a timely manner that facilitates ease and connectivity within my work environment as well as my teammates.</p>
    </div>
    <!--  For example, a strong "About Me" section might include a professional headshot, a short bio, values and professional strengths, and relevant personal experiences. "About Me" sections should help you create your brand, not distract from your professional talents.Instead, consider other characteristics such as your professional narrative, what makes you unique compared to other developers in your field, how you’ve managed (or rescued) projects, and how you’ve personally fostered success in every initiative. In short, don’t miss an opportunity to self-promote yourself. -->
</section>
</div>
<hr class="m-0" />
<%- include('../partials/footer') -%> 