<!-- <iframe src="https://docs.google.com/document/d/e/2PACX-1vTz6icrjxvX8IkooW51nNpmDkchN6irgJTJ2RKfMsgA7lUpD9wScg5Z3C05EyPLQA/pub?embedded=true"></iframe> -->
<%- include('../partials/head') -%> 
<title>Resume Page</title>
<%- include('../partials/nav') -%> 
<!-- Page Content-->
<div class="container-fluid p-0 gradient">
    <!-- About-->
    <section class="resume-section" id="about">
       <div class="resume-section-content">
           <div class="contrast-blue">
               <i class="fa-solid fa-web-awesome edu-icons"></i>
               <h1 class="mb-0">RESUME</h1>
           </div>
           <span class="content-container-3">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vTz6icrjxvX8IkooW51nNpmDkchN6irgJTJ2RKfMsgA7lUpD9wScg5Z3C05EyPLQA/pub?embedded=true" frameborder="0" width="575" height="2000" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </span>
        </div>
    </section>
</div>
<hr class="m-0" />
<%- include('../partials/footer') -%> 